body{
    background-image: url(https://uploads.dailydot.com/2024/07/dababy-convertible.jpg?q=65&auto=format&w=1600&ar=2:1&fit=crop);
    background-size: cover;
    
}


body.invert::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  z-index: -1;
}

img.imgprr{
    width: 200px;
}

button{
    margin-left: 95rem;
    padding-bottom: 6rem;
    padding-left: 4rem;
}

a.button {
  display: inline-block;
  background-color: #0078ff;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  margin-left: 95rem;
  transition: background-color 0.3s ease;
}
