body{
    background-image: url(https://uploads.dailydot.com/2024/07/dababy-convertible.jpg?q=65&auto=format&w=1600&ar=2:1&fit=crop);
    background-size: cover;
}

img.imgprr{
    width: 200px;
}
button{
    margin-left: 95rem;
    margin-bottom: 1rem;
}