nav h1{
    display: flex;
    color: orange;
    justify-content: center;
}
nav ul {
    display: flex;
    justify-content:  space-around;
    border: 10p;
    border-color: black;
    border-width: 1px;
}