@import url('https://fonts.cdnfonts.com/css/love-letter-tw');


body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #0e0e14;
  color: white;
  font-family: 'Love LetterTW', sans-serif;
}

header {
    padding: 0;
    background: linear-gradient(174deg, rgba(204,117,250,1) 0%, rgba(38,6,56,1) 81%);
}

header.header1 {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: row-reverse;
}

header.header1 h1 {
    margin: 0;
    text-shadow: 2px 2px rgba(230,184,255,0.423);
}

img {
    max-height: 3rem;
    align-self: center;
}

footer {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #15051c;
  color: #d8b0ff;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}