@import url('https://fonts.cdnfonts.com/css/love-letter-tw');
html body{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;


}

img{
    max-height: 3rem;
    align-self: center;
}

header{
    font-family: 'Love LetterTW', sans-serif;    
    padding:0px 0;
    background: linear-gradient(174deg,rgba(204, 117, 250, 1) 0%, rgba(38, 6, 56, 1) 81%);
    
}

header.header1{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: row-reverse;
}

header.header1 h1{
    text-shadow: 2px 2px rgba(230, 184, 255, 0.423);
}

main{
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
}

section.sec1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: max-content;
}

section.sec2{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

footer{
    justify-content: flex-end;
}
