a {
    color: black;
}
nav h1{
    display: flex;
    color: orange;
    justify-content: center;
}
nav ul {
    display: flex;
    justify-content:  space-around;
    border: 1px;
    border-style: solid;
}
article h1{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}
article ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
article ul li {
    padding: 8rem;
    display: grid;
    background-color: grey;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 0.5rem;
}

/*Segon article???*/

footer ul{
    display: flex;
    justify-content: space-around;

}
