@import url('https://fonts.cdnfonts.com/css/love-letter-tw');

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER */
header {
    font-family: 'Love LetterTW', sans-serif;    
    padding: 0;
    background: linear-gradient(
        174deg,
        rgba(204, 117, 250, 1) 0%,
        rgba(38, 6, 56, 1) 81%
    );
}

header.header1 {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: row-reverse;
}

header.header1 h1 {
    text-shadow: 2px 2px rgba(230, 184, 255, 0.423);
}

/* MAIN LAYOUT */
main {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
}

section.sec1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;    
}
sub.subflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
sub.subflex img{
    align-self: flex-start;
    min-height: 10rem; 
    margin- 
}


section.sec2 {
    display: grid;
    grid-template-rows: 1fr 1fr;

}

/* IMAGES */
img {
    max-height: 3rem;
    align-self: center;
}

/* FOOTER FIXED AT BOTTOM WHEN CONTENT IS SHORT */

footer {
  min-height: 50px;
}

.sec1 p {
    margin: 1rem;

    font-family: 'Love LetterTW', sans-serif;  
    font-size: small;  
}