a {
    color: black;
}
nav h1{
    display: flex;
    color: orange;
    justify-content: center;
}
nav ul {
    display: flex;
    justify-content:  space-around;
    border-style: solid;
    list-style-type: none;
}

nav li{
    margin: 1rem;
}
article:first-of-type h1{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}
article:first-of-type ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
article:first-of-type ul li {
    padding: 8rem;
    display: grid;
    background-color: grey;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 0.5rem;
}

article:nth-of-type(2) h1{
    color: purple;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

footer ul{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    list-style-type: none;
    
}
