
body{
    height: 100%;
}
.linia{
    width: 100%;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
}
header{
    width: 100%;
    text-align: center;
    align-content: center;
    height: 5rem;
    font-size: 2rem;
    color: white;
    background-color: rgb(255, 166, 0);
}

#contenttext{
    display: flex;
    width: 100%;
    height: auto;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: rgb(188, 251, 255);
    list-style-type: none;
    
}

.articles{
    margin-right: 3rem;

}

.borrar{
    justify-content: center;
    background: transparent;
    border-color: transparent;
    margin-left: 1rem;
}
nav a{
    text-decoration: none;
    color: black;
}
main{
    display: grid;
    grid-template-columns: 1fr 200px;

}
article {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.sidebar1 {
    background-color: lightgrey;
}

article.post{
    display: flex;
    width: 100%;
    padding-top: 2rem;
    color:white

}
article.post img{
    max-width: 100px;
}
.imagentexto p{
    color:black
}
div{

}
div.box{
    display: flex;
    padding-left: 1.5rem;
    width: 100%;
    border-radius: 10px;
    margin-left: 1rem;  
    padding-right: 1rem;
    background-color: grey;

}
textarea{}

div.contacto{
    width: 100%;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    background: linear-gradient(90deg,rgba(184, 135, 57, 1) 0%, rgba(41, 139, 163, 1) 100%);
    border-radius: 10px;
    height: 10rem;
    color: white;
}




@media screen and (max-width: 800px) {
    #sidebar {
      display: none;
    }
}